<div id="login_form">

  <div id="login_title">Login Form</div><br>

  <%= form_tag sessions_path, :id => "login" do %>

  <%= label_tag :name, 'アカウント名' %><br><br>
  <%= text_field_tag :name, params[:name], :id => "account", :size => 30 %>
  <br><br><br>


  <%= label_tag :pass, 'パスワード' %><br><br>
  <%= password_field_tag :pass, params[:pass], :id => "password", :size => 30 %>
  <br><br>


  <%= submit_tag("ログイン", :class => "submit", :id => "login_submit") %>
  <% end %>

</div>




