<!-- Index -->
<div id="column">

  <%= render 'booklist/titlebar' %>

  <%= render 'booklist/statusbar', :current_page => 'トップページ' %>

  <%= render 'booklist/menubar' %>

  <div id="main">
    研究室蔵書データベースへようこそ．<br>
    使用方法に関しては，<%= link_to "使い方", "https://www.db.soc.i.kyoto-u.ac.jp/doku.php/lab:booklist", target: ["_blank"] %> をご覧ください．<br><br><br>

    <!-- Display last updated information -->
    最近追加された書籍<br>
    <%= render "booklist/booklist", :booklist => @updated %>

    <br><br>
  </div>

</div>
