<!-- Add the library information -->
<div id="column">

  <%= render 'booklist/titlebar' %>

  <%= render 'booklist/statusbar', :current_page => '新規蔵書登録' %>

  <%= render 'booklist/menubar' %>

  <div id="main">
    <div class="notice">
      <%= render :text => params["notice"] %>
    </div>

    新しい蔵書を追加してください．<br>
    空値の項目は<b>「指定なし」</b>としてデータベースに追加されます．<br><br>

    <%= form_for @booklist, :url => {:action => "create"} do |f| %>
    <table>
      <%= render "booklist/form_new", :f => f %>
      <tr>
	<td><%= f.submit "蔵書に追加", :class => "submit" %></td>
      </tr>
    </table>
    <% end %>
    
  </div>

</div>
